// Project colors
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$dark-violet: hsl(278, 68%, 11%);

// Global mixins
@mixin background-image($url, $covering) {
  background: $url;
  background-size: $covering;
}

@mixin flex-aligning($flex, $aligning) {
  display: $flex;
  justify-content: $aligning;
  align-items: $aligning;
}

// Global styling
* {
  margin: 0;
  padding: 0;

  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;

  box-sizing: border-box;
}

// Body styling
body {
  max-width: 100vw;
  height: 100vh;
}

// Container styling
.container {
  width: 100%;
  height: 100%;

  @include flex-aligning(flex, auto);
  // gap: 21.8rem;

  // The card preview and shape styling
  .card-shape {
    width: 33.5%;
    height: 100%;

    position: relative;

    @include background-image(
      url(../images/bg-main-desktop.png) no-repeat,
      cover
    );

    // Front card styling
    .card-front {
      @include background-image(
        url(../images/bg-card-front.png) no-repeat,
        cover
      );

      color: $white;

      position: absolute;
      right: -8rem;
      top: 11.7rem;

      padding: 27px 33px;

      width: 28rem;
      height: 15.3rem;

      border-radius: 10px;

      .card-logo {
        padding-bottom: 3.8rem;
      }

      .card-number {
        display: flex;
        gap: 0.8rem;

        font-size: 27.5px;

        padding-bottom: 1.6rem;

        p {
          letter-spacing: 3.3px;
        }
      }

      .card-name-exp {
        display: flex;
        justify-content: space-between;

        font-size: 14px;
        letter-spacing: 2px;
      }
    }

    // Back card styling
    .card-back {
      @include background-image(
        url(../images/bg-card-back.png) no-repeat,
        cover
      );

      color: $white;

      position: absolute;
      top: 29.4rem;
      right: -14rem;

      height: 15.3rem;
      width: 28rem;

      border-radius: 10px;
      // box-shadow: 10px black;

      .cvc {
        position: relative;
        top: 7rem;
        right: -22.3rem;

        font-size: 14px;
      }
    }
  }

  // Card details ( Card name holder & Card number & card CVC & EXP date )
  .card-details {
    width: 66.5%;
    height: 100%;

    position: relative;

    form {
      width: 23.8em;

      position: absolute;
      top: 17.2rem;
      right: 23.8%;

      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .other-details {
        display: flex;
        gap: 1.2rem;

        margin-bottom: 16px;

        .exp-date {
          display: flex;
          flex-direction: column;
          gap: 7px;

          label {
            letter-spacing: 1.7px;
          }

          .exp-date-wrapper {
            display: flex;
            gap: 10px;
          }

          input {
            width: 5rem;
          }
        }

        .cvc {
          width: 30%;

          display: flex;
          flex-direction: column;
          gap: 7px;
        }
      }

      .cardname-holder,
      .cardnumber-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      label {
        font-size: 12px;
        color: $dark-violet;
      }

      input {
        height: 2.7rem;

        padding: 17px;

        border-radius: 7px;
        border-width: 0.7px;
        border-color: $light-grayish-violet;
        border-style: groove;

        font-size: 16px;
        line-height: 10px;
        letter-spacing: 1px;
      }

      input[type='text']:focus {
        outline: none;
        box-shadow: 0 0 0 1px $dark-grayish-violet;
      }

      .confirming-btn {
        button {
          width: 100%;
          padding: 15px;

          border-radius: 10px;
          border-color: $dark-violet;

          background-color: $dark-violet;
          color: $white;

          font-size: 17px;
          letter-spacing: 0.7px;

          cursor: pointer;
        }
      }
    }
  }
}
